.main-container {
  background: linear-gradient(
    180deg,
    rgba(243, 243, 243, 0.75) 0%,
    rgba(184, 184, 184, 0.8) 59.38%,
    rgba(243, 243, 243, 0.25) 100%
  );
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
}
.first-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 550px;
}
.user-rating {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: fit-content;
  height: 46px;
  padding: 5px 12px 5px 8px;
  border-radius: 50px;
  background: linear-gradient(
    90.05deg,
    rgba(255, 255, 255, 0.36) 0.04%,
    rgba(252, 252, 252, 0.12) 102.54%
  );
  margin-bottom: 30px;
}
.user-rating div {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.71);
  border-radius: 50px;
  padding: 8px 12px;
  width: fit-content;
  color: #322d2d;
  font-weight: 300;
  font-size: 16px;
  margin-right: 10px;
}
.user-rating div img {
  margin-right: 6px;
}
.user-rating div span {
  font-weight: 300;
  font-size: 16px;
  color: #322d2d;
}
.first-container h1 {
  font-weight: 300;
  font-size: 56px;
  letter-spacing: -1.3px;
}
.first-container ul {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}
.first-container ul li {
  display: flex;
  flex-direction: column;
}
.first-container ul li span:first-child {
  background: linear-gradient(
    93.63deg,
    #caa648 -0.61%,
    #caa648 10.09%,
    #d5b147 25.19%,
    #e4c267 46.69%,
    #e2c065 78.94%,
    #dbb95e 90.77%,
    #d0ae52 98.29%,
    #c09f41 104.74%,
    #bb9a3c 106.89%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 72px;
}
.first-container ul li span:last-child {
  font-weight: 300;
  font-size: 22px;
  width: 150px;
  display: inline-block;
  color: #322d2d;
}
.first-container ul li span:first-child b {
  font-size: 25px;
  margin: 0px;
}
.tag-line-container {
  border: 2px solid transparent;
  border-image-source: linear-gradient(
    93.63deg,
    #caa648 -0.61%,
    #caa648 10.09%,
    #d5b147 25.19%,
    #e4c267 46.69%,
    #e2c065 78.94%,
    #dbb95e 90.77%,
    #d0ae52 98.29%,
    #c09f41 104.74%,
    #bb9a3c 106.89%
  );
  border-image-slice: 1;
  border-image-repeat: stretch;
  width: 60%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 300;
  color: #322d2d;
  letter-spacing: -2px;
  border-radius: 16px;
}
.first-container-2 {
  margin-top: 100px;
  width: 100%;
  padding: 0px 30px;
  position: relative;
  display: flex;
  align-items: center;
}
.first-container-2 .left-container img:last-child {
  position: absolute;
  top: 100px;
  left: 150px;
}
.first-container-2 .right-container {
  margin-left: 50px;
}
.first-container-2 .right-container h2 {
  background: linear-gradient(90deg, #9e6718 0%, #ffb545 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 24px;
}
.first-container-2 .right-container .ingredients-button {
  width: 310px;
  height: 41px;
  font-size: 20px;
  font-weight: 300;
  background: linear-gradient(
    92.57deg,
    #caa648 -34.45%,
    #caa648 -12.71%,
    #d5b147 4.32%,
    #e4c267 36.63%,
    #e2c065 85.1%,
    #dbb95e 102.87%,
    #d0ae52 114.18%,
    #c09f41 119.07%,
    #bb9a3c 127.1%
  );
}
.first-container-2 .right-container h1 {
    font-weight: 300;
    font-size: 36px;
    color: #322D2D;
}
.first-container-2 .right-container p {
    font-weight: 300;
    font-size: 21px;
    color: #322D2D;
    margin: 20px 0px;
}